# Supabase (프론트엔드용 — 공개 키만 사용)
NEXT_PUBLIC_SUPABASE_URL=https://qaoxpgxvcnlpykasgwiz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFhb3hwZ3h2Y25scHlrYXNnd2l6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI3MTQ0NzIsImV4cCI6MjA5ODI5MDQ3Mn0.QRSrUhrS4uXXDCygQRsnpgHwL3ESm7xbrPXLnX2X4XY


# FastAPI 백엔드 URL
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000
